@page
@model MoviesApp.Pages.GoodMovies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GoodMovie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoodMovie.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoodMovie.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoodMovie.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoodMovie.Producer.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoodMovie.Studio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoodMovie.Studio.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GoodMovie.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
