@page
@model MoviesApp.Pages.Studios.IndexModel

@{
    ViewData["Title"] = "List of studios";
}

<h2>List of studios</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Studio[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio[0].FoundedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio[0].NoOfMoviesShot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Studio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfMoviesShot)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
